# Default ignored files
/shelf/
/workspace.xml
/config.json
# Rider ignored files
/contentModel.xml
/.idea.SwearJarDiscord.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tyrel\source\repos\Discord Bot\SwearJarDiscord\.idea\.idea.SwearJarDiscord\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
